@using System.Web.Mvc.Html
@model Search_ElasticSearch.Models.SearchViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Search Results Page</h2>
@{
    var fromResults = Model.SearchResult.From + 1;
}
<h3>Displaying results from @fromResults to @Model.SearchResult.TotalOnPage of @Model.SearchResult.Total</h3>
@using (Html.BeginForm("Index", "Search"))
{
    if (Model!=null && Model.SearchResult.Results.Any())
    {
        foreach (var result in Model.SearchResult.Results)
        {
            <div class="form-group">
                <p>@result.Name</p>
                <p>@result.Description</p>
            </div>
        }
    }
}